<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2026 OpenSynergy Indonesia
     Copyright 2026 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="menu_documenso_root"
        name="Documenso"
        parent="ssi_connector.menu_root_connector"
        sequence="60"
    />

    <menuitem
        id="menu_documenso_binding"
        name="Bindings"
        parent="menu_documenso_root"
        sequence="200"
    />

    <menuitem
        id="menu_documenso_configuration"
        name="Configuration"
        parent="menu_documenso_root"
        sequence="999"
    />
</odoo>
